import { <%= pascalCaseName %> } from "@fluent-plus/<%= projectName %>";
import dedent from "dedent";

export const Example = () => {
    return (
        <div>
            <h3>TODO: Story missing</h3>
            <<%= pascalCaseName %> />
        </div>
    );
};

Example.parameters = {
    docs: {
        description: {
            story: dedent`
                The story description can use **markdown**!
            `,
        },
    },
};
